body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.nav-item {
    margin-right: 25px;
}

.navbar {
    margin-top: 15px;
}

.logo {
    height: 34px;
    width: 115px;
}

.front-banner {
    margin-top: 50px;
}

.front-banner-img {
    height: 500px;
    width: 550px;
}


.welcome-paragraph {
    color: #DF6951;
    margin-bottom: 10px;
}

.welcome-header {
    color: #181E4B;
    font-weight: 900;
    font-family: 'Volkhov', serif;
    line-height: 70px;
}

.welcome-description {
    font-size: 10px;
    color: gray;
    margin-bottom: 20px;
}

.front-button  button{
    margin-right: 25px;
}

.front-btn-yellow {
    background-color: rgb(255, 179, 0);
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.fa-play-circle {
    color: #DF6951;
    margin-right: 10px;
}

.front-play-button {
    border: none;
    font-size: 20px;
}

.category-paragraph {
    color: gray;
    text-align: center;
}

.category-img {
    width: 65px;
    height: 70px;
}

.destination-card-img {
    width: 315px;
    height: 380px;
}

.card {
    border: none;
}

.fa-location-arrow {
    margin-right: 10px;
}

.booking-thumnail {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.booking-body h5 {
    color: rgb(90, 90, 90);
}

.booking-body p {
    font-size: 12px;
}

.mos-thumb {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.event {
    margin-left: 30px;
}

.event p {
    color: gray;
    font-size: 11px;
}

.booking-area {
    margin-top: 100px;
}

.mike-taylor {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.user-img {
    height: 130px;
    width: 130px;
}

.user-img-4 {
    height: 32px;
    width: 162px;
}

.contact-heading {
    font-weight: 900;
    color: gray;
}

.email-section {
    border: none;
    margin: 70px 0;
    width: 500px;
}

.subscribe-btn {
    margin: 70px 0;
    background-color: #FF946D;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer-details {
    font-size: 10px;
    color: gray;
    margin-top: 30px;
}

.col-md-2 h5 {
    font-weight: 900;
}

.col-md-2 a {
    text-decoration: none;
    color: gray;
}

.social-icon {
    margin-right: 10px;
}

.play-store {
    width: 100px;
    height: 35px;
}

@media only screen and (max-width: 576px) {
    .front-banner-img {
      min-height: 100%;
      min-width: 100%;
    }
  }